{
	"parser": "babel-eslint",
	"extends": "standard",
	"env": {
	  "browser": true,
	  "node": true
	},
	"plugins": [
	  "compat"
	],
	"globals": {},
	"rules": {
	  "compat/compat": "off",
	  "jsx-a11y/alt-text": "warn",
	  "no-dupe-class-members": "warn",
	  "no-mixed-operators": "warn",
		"no-redeclare": "error",
		"semi": "off",
		"no-unused-vars": "off",
		"comma-dangle": "off",
		"operator-linebreak": [2, "before", { "overrides": { "?": "after" } }],
	  "no-param-reassign": "warn",
	  "import/no-webpack-loader-syntax": "off",
	  "jsx-a11y/anchor-is-valid": [
		"off",
		{
		  "aspects": [
			"invalidHref"
		  ]
		}
	  ]
	}
  }
  